@import utilities/variables
@import utilities/mixins

@import vendor/normalize
@import vendor/slick
@import bower_components/magnific-popup/dist/magnific-popup

@import layout/font
@import layout/typography
@import layout/grid
@import layout/general

@import generated/sprite-png
@import generated/sprite-svg

@import elements/buttons
@import elements/icons
@import elements/modal
@import elements/ui
@import elements/wow

@import components/header
@import components/footer


// Slides
@import components/slides

// Homepage
@import components/promo
@import components/categories
@import components/portfolio
@import components/news

// Catalog
@import components/catalog
@import components/breadcrumbs
@import components/products
@import components/seo
@import components/sku
@import components/gallery
@import components/related
@import components/cases
@import components/requisites
@import components/delivery
@import components/services
@import components/contacts
@import components/company
@import components/results
@import components/error

@import components/pixel-perfect

// what's up ?
.row-0
  margin: 0
  & > [class^="col"]
    padding: 0

// .categories__grid
//     +r($mobile)
//         .row
//             & > [class^="col"]
//                 &:nth-child(3), &:nth-child(6), &:nth-child(9)
//                     display: none

.promo, .portfolio, .news
	.container
		max-width: 1920px
