@import utilities/variables
@import utilities/mixins

@import vendor/normalize
@import vendor/slick
@import bower_components/magnific-popup/dist/magnific-popup

@import layout/font
@import layout/typography
@import layout/grid
@import layout/general

@import generated/sprite-png
@import generated/sprite-svg

@import elements/buttons
@import elements/icons
@import elements/modal
@import elements/ui
@import elements/wow

@import components/header
@import components/footer


// Slides
@import components/slides

// Homepage
@import components/promo
@import components/categories
@import components/portfolio
@import components/news

// Catalog
@import components/catalog
@import components/breadcrumbs
@import components/products
@import components/seo
@import components/sku
@import components/gallery
@import components/related
@import components/cases
@import components/requisites
@import components/delivery
@import components/services
@import components/contacts
@import components/company
@import components/results
@import components/error

.grid-buttons
	position: fixed
	left: 0
	bottom: 0
	z-index: 10000

.js-desktop, .js-tablet, .js-mobile
    display: block
    padding: 0 10px
    font-weight: 900
    line-height: 40px
    height: 40px
    background: #000
    z-index: 100000
    font-size: 12px
    color: #fff
    width: 100px
    cursor: pointer
    transition: 0.25s
    margin: 0 0 10px
    display: none
    &:hover
        background: #C43939

.js-mobile
    display: block
    +rmin($tablet)
        display: none

.js-tablet
    +rmin($tablet)
        display: block
    +rmin($wide)
        display: none

.js-desktop
    +rmin($wide)
        display: block


// .categories__grid
//     +r($mobile)
//         .row
//             & > [class^="col"]
//                 &:nth-child(3), &:nth-child(6), &:nth-child(9)
//                     display: none

// .promo, .portfolio, .news
// 	.container
// 		max-width: 1920px


#grid-desktop
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 1440px
    height: 7230px
    // height: 3065px
    margin: 0 0 0 -720px
    z-index: 10000
    background: url(../img/grid-search-desktop.png) 0 0 no-repeat
    opacity: 0.5
    visibility: hidden
    display: none
    &.is-active
        visibility: visible
        display: block

#grid-tablet
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 768px
    height: 6930px
    // height: 3065px
    margin: 0 0 0 -384px
    z-index: 10000
    background: url(../img/grid-search-tablet.png) 0 0 no-repeat
    opacity: 0.5
    visibility: hidden
    display: none
    &.is-active
        visibility: visible
        display: block

#grid-mobile
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 376px
    height: 5865px
    // height: 3065px
    margin: 0 0 0 -188px
    z-index: 10000
    background: url(../img/grid-search-phone.png) 0 0 no-repeat
    opacity: 0.5
    visibility: hidden
    display: none
    &.is-active
        visibility: visible
        display: block


.row-0
    margin: 0
    & > [class^="col"]
        padding: 0


#grid-desktop, #grid-tablet, #grid-mobile, .js-desktop, .js-tablet, .js-mobile
    // display: none !important
