// buttons
button
    -webkit-apperance: none
    border: 0
    box-shadow: none
    &:focus
        outline: none

.btn
    display: inline-block
    vertical-align: top
    position: relative
    text-align: center
    transition: 0.25s
    border: none
    padding: 0
    cursor: pointer
    &:focus, &:active
        outline: none
    &--block
        display: block
        width: 100%


.btn--chat
    border: none
    position: fixed
    bottom: 0
    right: 10px
    z-index: 100
    font: 900 15px/20px $fontBase
    text-transform: lowercase
    padding: 3px 20px 7px
    width: 160px
    background: #999999
    color: #fff
    &:hover
        background: #c43939

    +rmin($tablet)
        right: 20px
    +rmin($desktop)
        bottom: 125px
        right: -65px
        transform: rotate(90deg)
        transform-origin: 50% 50%



.btn--categories
    display: none

.btn--filter
    display: none







