// buttons
button
  -webkit-apperance: none
  border: 0
  box-shadow: none
  &:focus
    outline: none

.btn
    display: inline-block
    position: relative
    text-align: center
    transition: 0.25s
    border: none
    padding: 0
    &:focus, &:active
        outline: none
    &--block
        display: block
        width: 100%







