// UI

.ui__fieldset
  display: block
  margin: 0
  padding: 0 0 20px
  border: none

.ui__legend
  display: block
  font-size: 20px
  line-height: 20px
  font-weight: 900
  margin: 0 0 20px
  text-transform: uppercase
  +rmin($tablet)
    font-size: 25px
    line-height: 30px
    margin: 0 0 25px

.ui__label
  display: block
  font-size: 15px
  line-height: 1
  font-weight: 900
  margin: 0 0 15px
  text-transform: uppercase


.ui__caption
  max-width: 480px
  color: #c8c8c8
  display: block
  font-size: 15px
  line-height: 20px
  margin: 0 0 20px
  transition: opacity 0.3s $ease
  +rmin($tablet)
    font-size: 18px
    line-height: 25px

.ui__check
  display: block
  position: relative
  cursor: pointer
  font-size: 15px
  line-height: 1
  margin: 0 0 20px
  min-height: 20px


.ui__check-input
  position: absolute
  top: 0
  left: 0
  opacity: 0
  visibility: hidden
  &:checked ~ .ui__checkbox:after
    opacity: 1
  &:checked ~ .ui__check-link
    color: $primaryColor
    border-color: $primaryColor
  &:checked ~ .ui__check-btn
    background: $primaryColor
    color: #fff

.ui__checkbox
  display: block
  width: 20px
  height: 20px
  border: 2px solid #252525
  position: absolute
  top: 0
  left: 0
  transition: .3s $ease
  &:after
    content: ''
    display: block
    position: absolute
    top: 50%
    left: 50%
    width: 12px
    height: 12px
    margin: -6px 0 0 -6px
    background: $primaryColor
    transition: 0.3s $ease
    opacity: 0
  &:hover
    border-color: $primaryColor

.ui__check-text
  display: block
  padding: 3px 0 0 35px
  transition: 0.3s $ease
  &:hover
    color: $primaryColor

.ui__check-btn
  font: 400 15px/1 $fontBase
  display: block
  padding: 8px 10px 7px
  cursor: pointer
  transition: 0.3s $ease
  &:hover
    color: $primaryColor
  +rmin($tablet)
    padding-left: 20px
    padding-right: 20px


.ui__check-link
  font: 900 12px/1 $fontBase
  text-transform: lowercase
  padding: 8px 0
  border-bottom: 3px solid #000
  color: #000
  display: block
  min-width: 18px
  text-align: center
  margin: 0
  transition: .3s $ease
  &:hover
    border-color: $primaryColor
  +rmin($tablet)
    font-size: 15px
    min-width: 25px

.ui__group
  position: relative
  display: block
  transition: opacity 0.3s $ease
  *::selection
    background: initial
    color: initial
  &.is-focused
    .ui__placeholder
      top: -10px
      font-size: 15px
      line-height: 20px
      padding: 0
      +rmin($tablet)
        font-size: 18px
        line-height: 25px
        top: -20px

    .ui__placeholder--textarea
      top: -30px
      +rmin($tablet)
        top: -40px

.ui__placeholder
  display: block
  font: 400 20px/40px $fontBase
  color: #c8c8c8
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: 0.3s $ease
  cursor: pointer
  +rmin($tablet)
    font-size: 25px

.ui__placeholder--textarea
  padding: 7px 20px
  +rmin($tablet)
    padding: 15px 30px

.ui__input
  -webkit-appearance: none
  width: 100%
  font: 400 20px/2 $fontBase
  padding: 0 0 3px
  border: none
  border-radius: 0
  box-shadow: none
  display: block
  border-bottom: 3px solid #252525
  margin: 0 0 40px
  cursor: pointer
  &.is-error
    border-color: $primaryColor
  +rmin($tablet)
    font-size: 25px
    margin: 0 0 50px

input:-webkit-autofill
  -webkit-box-shadow: inset 0 0 0 50px #FFF !important
  /* Цвет фона
  -webkit-text-fill-color: $fontColor !important
  /* цвет текста
  color: $fontColor !important

.ui__textarea
  @extend .ui__input
  border: 3px solid #252525
  padding: 15px 30px
  line-height: 1.2
  min-height: 150px
  margin-top: 20px
  resize: vertical
  padding-left: 15px

  +rmin($tablet)
    margin-top: 15px
    padding-left: 30px

// states
.ui__ctrl
  position: relative

.ui__error, .ui__success
  display: block
  position: absolute
  top: -20px
  left: 0
  right: 0
  bottom: 0
  background: #fff
  z-index: 10
  font-size: 25px
  line-height: 30px
  margin: 0
  transition: 0.3s $ease
  opacity: 0
  visibility: hidden
  min-height: 120px

.ui__error
  color: $primaryColor

.ui__success
  color: #252525

.is-invalid
  .ui__error
    opacity: 1
    visibility: visible

.is-valid
  .ui__caption, .ui__group
    opacity: 0.1
  .ui__success
    opacity: 1
    visibility: visible


// captch
.ui__capcha
  width: 100%
