// FOOTER :: START
footer.footer
	.container
		.row
			.col-lg-10.col-indent

				nav.footer__nav

					.row
						.col-md-6.col-lg-4

							ul.footer__nav-menu
								li
									a(href="#").footer__nav-link Столешницы
								li
									a(href="#").footer__nav-link Подстолья
								li
									a(href="#").footer__nav-link Дизайнерская мебель
								li
									a(href="#").footer__nav-link Барные стулья

						.col-md-6.col-lg-4

							ul.footer__nav-menu
								li
									a(href="#").footer__nav-link Стулья
								li
									a(href="#").footer__nav-link Диваны
								li
									a(href="#").footer__nav-link Столы
								li
									a(href="#").footer__nav-link Мебель для конференц-залов

						.col-md-12.col-lg-4.offset-lg-0
							
							.row
								.col-md-6.col-lg-12
									a(href="#").footer__nav-link Кресла

								.col-md-6.col-lg-12
									a(href="#").footer__nav-link Складная мебель
							


				.footer__info
					.row
						.col-md-12.col-lg-4

							p.footer__phone
								a(href="tel:88007778904").footer__phone-number 8 (800) 777 89 04
								br
								a(href="tel:74951815264").footer__phone-number 7 (495) 181 52 64

						.col-md-6.col-lg-4

							address.footer__address
								p Пн.-Пт. с 10:00 до 18:00
								p 3-й проезд Марьиной Рощи, д. 40, стр. 1, корп. 6, оф. 404

						.col-md-5.col-lg-4

							.footer__copyright
								p <a href="#" class="footer__copyright-link">Положение об обработке персональных данных</a>
								p © 2003—2017 «Авалон»
								p Сделано в <a href="#" class="footer__copyright-studio">GLYF</a>

      
// FOOTER :: END
