.pp-buttons
  .pp-buttons__desktop(js-pixelPerfect data-target="#grid-desktop") 1440
  .pp-buttons__tablet(js-pixelPerfect data-target="#grid-tablet") 768
  .pp-buttons__mobile(js-pixelPerfect data-target="#grid-mobile") 375
  .pp-buttons__invert(js-pixelPerfectInvert) invert
