---
title: Джаз Клуб Эссе - Кейсы - Avalon
bodyClass: page-cases
---
extends shared/_layout
block content
	
	
	// Cases :: Start
	.cases
		.container

			.row
				.col-12.col-indent

					h1.cases__heading Джаз Клуб Эссе

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Портфолио
						li
							a(href="#").breadcrumbs__link Джаз Клуб Эссе

					.row
						.col-lg-8

							.cases__caption
								p «Эссе» – джазовый клуб, расположенный в самом центре Москвы на ул. Пятницкая. Вот уже несколько лет клуб уверенно держит позиции одного из лучших джазовых мест Москвы благодаря оригинальным проектам, лучшим именам российских и зарубежных музыкантов, составляющих ежедневную афишу клуба.

						.col-lg-4

							address.cases__address
								+icon('ico-loc')
								| ул. Пятницкая, д. 27, стр. 3А


			.cases__images
				.row
					.col-10.col-md-7

						figure.cases__images-item
							img(src="img/pic-cases-single-1.png", alt="")

					.col-6.offset-6.col-md-5.offset-md-0

						figure.cases__images-item
							img(src="img/pic-cases-single-2.png", alt="")

					.col-8.col-md-5

						figure.cases__images-item
							img(src="img/pic-cases-single-3.png", alt="")

					.col-4.col-md-3

						figure.cases__images-item
							img(src="img/pic-cases-single-4.png", alt="")

					.col-12.col-md-6.offset-md-1

						figure.cases__images-item
							img(src="img/pic-cases-single-5.png", alt="")

					.col-6.col-md-5.offset-md-1

						figure.cases__images-item
							img(src="img/pic-cases-single-6.png", alt="")

					.col-6.offset-6.col-md-6.offset-md-0

						figure.cases__images-item
							img(src="img/pic-cases-single-7.png", alt="")


			
			.cases__other

				.row
					.col-12.col-indent

						h2.cases__other-heading Другие проекты
				
				.cases__grid
					.row
						.col.col-md-6

							a(href="#").cases__item
								figure.cases__item-image
									img(src="img/pic-cases-1.png", alt="")
								p.cases__item-caption Оснащение зоны питания LOREAL в Калужской области

						.col.col-md-6

							a(href="#").cases__item
								figure.cases__item-image
									img(src="img/pic-cases-2.png", alt="")
								p.cases__item-caption Компания AVALON поставила мебель в отель Rodina

						.col.col-md-6

							a(href="#").cases__item
								figure.cases__item-image
									img(src="img/pic-cases-3.png", alt="")
								p.cases__item-caption Дизайнерские диваны для тату-салона GOENHENTZ

						.col.col-md-6

							a(href="#").cases__item
								figure.cases__item-image
									img(src="img/pic-cases-4.png", alt="")
								p.cases__item-caption Ресторан «Веранда 13» в Мытищах

						.col.col-md-6

							a(href="#").cases__item
								figure.cases__item-image
									img(src="img/pic-cases-5.png", alt="")
								p.cases__item-caption Ресторан «Лепешка», г.Королёв


					


	// Cases :: End