---
title: Кейсы - Avalon
bodyClass: page-cases
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid-cases-desktop.png")
		#grid-tablet
			img(src="img/grid/grid-cases-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-cases-phone.png")
				
block content
	
	// Cases :: Start
	.cases
		.container

			.row
				.col-12.col-indent

					h1.cases__heading Портфолио

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Портфолио 


			.cases__grid
				.row
					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-1.png", alt="")
							p.cases__item-caption Оснащение зоны питания LOREAL в Калужской области

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-2.png", alt="")
							p.cases__item-caption Компания AVALON поставила мебель в отель Rodina

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-3.png", alt="")
							p.cases__item-caption Дизайнерские диваны для тату-салона GOENHENTZ

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-4.png", alt="")
							p.cases__item-caption Ресторан «Веранда 13» в Мытищах

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-5.png", alt="")
							p.cases__item-caption Ресторан «Лепешка», г.Королёв


	// Cases :: End
