---
title: Компания - Avalon
bodyClass: page-company
---
extends shared/_layout
block content
	
	
	// Company :: Start
	.company
		.container

			.row
				.col-12.col-indent

					h1 О нас

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная
						li
							a(href="#").breadcrumbs__link Компания
						li
							a(href="#").breadcrumbs__link О нас

					em Компания «Авалон» является одним из заслуженных участников российского рынка мебели. Мы работаем в этой сфере с 2003 года, но за это время наш особенный подход к работе позволил взять сходу не одну и не две вершины. Весь коллектив нашей компании продолжает и дальше целеустремлённо трудиться в интересах наших клиентов.

					em Мы поставляем мебель прямо от производителя. Сработавшаяся команда менеджеров уверенно руководит развитием компании и всеми её отделами. Основывается на удобстве работы, скорости оформления заказа. В то же время, наши заказчики могут располагаться в любой точке России и за её пределами!

					.certificates

						h2 Наши достижения

						.certificates__grid
							.row
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-1.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-2.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-3.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-4.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-5.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-6.png", alt="")
								.col-6.col-md-4
									a(href="#").certificates__item
										img(src="img/pic-certificates-7.png", alt="")




					.clients
					
						h2 Наши клиенты

						.row
							.col-lg-6

								p Мы не просто продаём мебель, мы помогаем её купить. Наши консультанты с радостью подберут самые подходящие для вас наборы мебели, помогут выбрать из нескольких наиболее симпатичных вариантов, или оформить заказ на индивидуальное изготовление мебели.

						.clients__grid
							.row
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-1.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-2.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-3.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-4.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-5.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-6.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-7.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-8.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-9.png", alt="")
								.col-6.col-md-4.col-lg-3.col-xl-20
									.clients__item
										img(src="img/pic-clients-10.png", alt="")

					
					.profession

						h2 Наша профессия – мебель

						.row
							.col-md-10.col-lg-6

								p А если говорить точнее, то крупные оптовые партии специализированной мебели. Мы реализуем мебель для баров и кафе, барные стулья и столы для уличных кафе. Мы предлагаем нашему клиенту всё, что может потребоваться ему для оформления зала. 

								p Кроме большого выбора, мы готовы завоевать расположение клиентов превосходным сервисом и опытом в преодолении трудностей, связанных с оформлением заказа и доставкой мебели заказчику. Сработавшаяся команда менеджеров уверенно руководит развитием компании и всеми её отделами.

							.col-lg-6

								figure.profession__image
									img(src="img/pic-profession-1.png", alt="")

					.team

						h2 Наши сотрудники

						.row
							.col-md-10.col-lg-6

								p Наши сотрудники составляют наше основное конкурентное преимущество. Консультанты компании «Авалон» проходят специальное обучение, так что ваше с ними общение не оставит неприятного осадка. 

							.col-md-10.col-lg-6

								p Кроме того, чтобы упростить и ускорить получение технического задания или указаний по оформлению зала, мы разработали специальную технику приёма информации. Технический цех, работающий над созданием мебели по индивидуальному заказу, состоит из профессионалов, готовых воплотить в дереве, пластике, ткани и коже любую идею нашего заказчика.

						.team__grid
							.row
								.col-6.col-md-4
									.team__item
										img(src="img/pic-team-1.png", alt="")

								.col-6.col-md-4
									.team__item
										img(src="img/pic-team-2.png", alt="")

								.col-6.col-md-4
									.team__item
										img(src="img/pic-team-3.png", alt="")

								.col-6.col-md-4
									.team__item
										img(src="img/pic-team-4.png", alt="")

								.col-6.col-md-4
									.team__item
										img(src="img/pic-team-5.png", alt="")




		
	// Company :: End


	// Cases Other :: End
			
	.cases__other
		.container
			.row
				.col-12.col-indent

					h2.cases__other-heading Наши проекты
			
			.cases__grid
				.row
					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-1.png", alt="")
							p.cases__item-caption Оснащение зоны питания LOREAL в Калужской области

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-2.png", alt="")
							p.cases__item-caption Компания AVALON поставила мебель в отель Rodina

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-3.png", alt="")
							p.cases__item-caption Дизайнерские диваны для тату-салона GOENHENTZ

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-4.png", alt="")
							p.cases__item-caption Ресторан «Веранда 13» в Мытищах

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(src="img/pic-cases-5.png", alt="")
							p.cases__item-caption Ресторан «Лепешка», г.Королёв



				
	// Cases Other :: End


