---
title: Контакты - Avalon
bodyClass: page-contacts
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid-contacts-desktop.png")
		#grid-tablet
			img(src="img/grid/grid-contacts-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-contacts-phone.png")
block content
	
	// Contacts :: Start
	.contacts
		.container
			.row
				.col-12.col-indent
					h1 Контакты
					ul.breadcrumbs
						li
							a(href="homepage.html").breadcrumbs__link Главная 
						li
							.breadcrumbs__link Контакты

			.contacts__container
				.row
					.contacts__left

						.contacts__group

							.row
								.col-md-6.col-lg-12

									address.contacts__address.contacts__address--dark
										strong Москва
										p 127018 3-й проезд Марьиной Рощи, <br>д. 40, строение 1, корп. 6, офис 404
										p info@avalonmebel.ru
										p +7 (495) 181 52 64 <br> +7 (495) 585 74 86

								.col-md-6.col-lg-12

									.slides-contacts.js-slides-contacts
										
										address.contacts__address
											strong Санкт-Петербург
											p пр. Обуховской Обороны, д.120, лит. 3
											p info@avalonmebel.ru
											p +7 (812) 306 54 06
									
										address.contacts__address
											strong Астана
											p ул.Джангильдина, 25
											p info@avalonmebel.ru
											p +7 (700) 306 54 06
										
										address.contacts__address
											strong Бишкек
											p ул.Джангильдина, 25
											p info@avalonmebel.ru
											p +7 (700) 306 54 06
											
										address.contacts__address
											strong Самара
											p ул.Джангильдина, 25
											p info@avalonmebel.ru
											p +7 (700) 306 54 06

					.contacts__right

						.contacts__map#contacts__map.js-sticky

					

	// Contacts :: End
