---
title: Дилерам - Avalon
bodyClass: page-dealers
---
extends shared/_layout
block content
	
	
	// Dealers :: Start
	.dealers.ui__content
		.container

			.row
				.col-12.col-indent

					h1 Дилерам

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Дилерам

					em Компания «Авалон» постоянно расширяет географию продажи мебели и приглашает к взаимовыгодному сотрудничеству оптовых покупателейи дилеров. Мы предлагаем вам широкий ассортимент продукции высочайшего качества. Производство изделий выполняется ведущими фабриками на основе экологически чистого материала – дерева.

					h2 Преимущества сотрудничества

					.row
						.col-md-6

							p Изготовление мебели для ресторанов и кафе нацелено на то, чтобы удовлетворить запросы современного бизнеса сферы общественного питания. Мы подберем для вас оптимальные условия сотрудничества и предложим заключить официальный договор. Наши дилеры получают весомые преимущества:

							ul
								li Доступные цены на весь ассортимент, позволяющий комфортно обустроить кафе и рестораны.
								li Возможность купить качественную мебель в любом количестве.
								li Быстрая отгрузка товара в Москве с нашего склада в пределах МКАД, транспортная доступность.
								li В наличии все модели, представленные в каталоге интернет-магазина.
								li Оперативное предоставление всей необходимой информации по изделиям.

						.col-md-6

							p Наша компания находится в Москве и открыта для работы с организациями из различных регионов России. Для крупных представителей предусмотрены весомые скидки и возможность осуществлять расчеты с пост-оплатой. Цена будет фиксированной в рублях и устанавливается без привязки к колебаниям курса валют и оборотов закупок.

					h2 Станьте дилером уже сегодня

					.row
						.col-md-6

							p Любая компания по производству мебели для кафе, баров, ресторанов, гостиниц может найти в нашем лице надежного партнера на длительный срок. Мы станем ответственным поставщиком качественных изделий для тех, кто работает в мебельном бизнесе уже давно или только планирует развиваться в этой сфере. Предлагаем договор о сотрудничестве:

							ul
								li Дилерам, мебельным магазинам и салонам.
								li Торговым организациям, желающим расширить свой ассортимент.
								li Всем, кто заинтересован в увеличении объемов продаж и привлечении новых клиентов.

							p Для комфортной работы всех наших партнеров мы предоставляем полный пакет документов и информацию о продукции. У вас будут данные о том, как осуществляется производство мебели для ресторанов и других заведений, какие материалы и обивки используются. Портфолио содержит фотографии образцов нашего каталога в высоком разрешении.

						.col-md-6

							p Заключая официальный договор с дилерами, мы оказываем всецелую информационную поддержку. Наши сотрудники регулярно проводят рассылки и уведомляют о поступлении новинок, изменениях в ассортименте и ценах, запланированных акциях и скидках.

							p Сотрудничество с дилерами курируется специально созданным отделом. Для получения консультации наших менеджеров в Москве, напишите нам на почту r@avalonmebel.ru — мы быстро и подробно ответим на все возникнувшие у вас вопросы. Обращайтесь!

					

	// Dealers :: End


