---
title: Delivery - Avalon
bodyClass: page-catalog
---
extends shared/_layout
block content
	
	// Catalog :: Start

	.delivery
		.container
			.row
				.col-sm-11.offset-sm-1.col-12

					h1.delivery__title Доставка и оплата

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Компания
						li
							a(href="#").breadcrumbs__link Доставка и оплата
			.row
				.col-lg-8.col-sm-11.offset-sm-1.col-12
					p.delivery__sub-title Мы работаем со всеми регионами России без исключения. Готовы доставить нашу мебель в ваш город. На ваш выбор предлагается несколько вариантов транспортировки, из которых вы можете выбрать наиболее удобный для вас.
			.row
				.col-lg-11.offset-lg-1.col-sm-12.nopadding
					.col-lg-4.col-sm-6.delivery__list-item.col-12
						p.delivery__list-number 1
						p.delivery__list-info Ваша машина забирает мебель с нашего склада в Москве.
					.col-lg-4.col-sm-6.delivery__list-item.col-12
						p.delivery__list-number 2
						p.delivery__list-info Мы отгружаем мебель в транспортную компанию, с которой работаете вы.
					.col-lg-4.col-sm-6.delivery__list-item.col-12
						p.delivery__list-number 3
						p.delivery__list-info Мы сами организуем отправку мебели в ваш город.
			.adress
				.row
					.col-sm-11.offset-sm-1.col-12
						h2.address__title Адреса и телефоны компании в регионах
	.bg-grey
		.container.cities
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Москва
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info 127018, г. Москва, 3-й проезд Марьиной Рощи, дом 40, строение 1, корпус 6, офис 403
							p.cities__info +7 (495) 585 74 86, 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Санкт-Петербург
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info 192012, г. Санкт-Петербург, пр. Обуховской Обороны, д.120, лит. 3
							p.cities__info 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Екатеринбург
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info г. Екатеринбург, завод «ВИЗ-Сталь», КПП-3
							p.cities__info 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Новосибирск
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info г. Новосибирск, ул. Светлановская, д. 50
							p.cities__info +7 (383) 249 34 45, 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Нижний новгород
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info г. Нижний Новгород, ул. Горная, д.11, корпус 3
							p.cities__info 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Астана
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info г. Астана, ул.Джангильдина 25
							p.cities__info +7 (700) 306 54 06, 8 (800) 777 89 04
			.row
				.col-lg-9.offset-lg-1.col-sm-9.offset-sm-1.cities__item.col-12
					.col-lg-3.col-sm-4
						h3.cities__title Крым
					.no-gutters
						.col-lg-9.col-sm-8
							p.cities__info +38 067 9780772, 8 (800) 777 89 04
							p.cities__info +
	.payments
		.container
			.row
				.col-lg-11.offset-lg-1.col-sm-12.no-gutters
					h2.payments__title Оплата
					.col-lg-5.col-sm-12
						p.payments__info Оплатить заказ в компании «Авалон» вы можете банковским переводом в любом подходящем для вас банке.
						p.payments__info Мы готовы пойти навстречу, если в вашем распоряжении сейчас нет крупной суммы. В этом случае мы готовы предоставить возможность получения кредита или рассрочки.
					.col-lg-6.col-sm-12
						p.payments__info.mt-7 Сотрудничаем с заказчиками на территории России, а также имеем возможность поставлять мебель в Беларусь и Казахстан.
					.col-lg-1

	// Catalog :: End
	