---
title: Доставка и оплата - Avalon
bodyClass: page-delivery
---
extends shared/_layout
block content
	
	
	// Dealers :: Start
	.delivery
		.container

			.row
				.col-lg-11.col-indent

					h1 Доставка и оплата

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная
						li
							a(href="#").breadcrumbs__link Компания 
						li
							a(href="#").breadcrumbs__link Доставка и оплата

					em.delivery__caption Мы работаем со всеми регионами России без исключения. Готовы доставить нашу мебель в ваш город. На ваш выбор предлагается несколько вариантов транспортировки, из которых вы можете выбрать наиболее удобный для вас.
					
					ol.delivery__steps
						li Ваша машина забирает мебель с нашего склада в Москве.
						li Мы отгружаем мебель в транспортную компанию, с которой работаете вы.
						li Мы сами организуем отправку мебели в ваш город.
					
					.delivery__offices
						h2 Адреса и телефоны компании в регионах
						ul.delivery__offices-list
							li
								.delivery__offices-item
									b.delivery__offices-city москва
									ul.delivery__offices-address
										li 127018, г. Москва, 3-й проезд Марьиной Рощи, дом 40, строение 1, корпус 6, офис 403                                          
										li +7 (495) 585 74 86, 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city Санкт-Петербург
									ul.delivery__offices-address
										li 192012, г. Санкт-Петербург, пр. Обуховской Обороны, д.120, лит. 3
										li 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city Екатеринбург
									ul.delivery__offices-address
										li г. Екатеринбург, завод «ВИЗ-Сталь», КПП-3
										li 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city Новосибирск
									ul.delivery__offices-address
										li г. Новосибирск, ул. Светлановская, д. 50
										li +7 (383) 249 34 45, 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city Нижний Новгород
									ul.delivery__offices-address
										li г. Нижний Новгород, ул. Горная, д.11, корпус 3
										li 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city Астана
									ul.delivery__offices-address
										li г. Астана, ул.Джангильдина 25
										li +7 (700) 306 54 06, 8 (800) 777 89 04

							li
								.delivery__offices-item
									b.delivery__offices-city крым
									ul.delivery__offices-address
										li +38 067 9780772, 8 (800) 777 89 04
					
					.delivery__payments

						h2 оплата

						.row
							.col-lg-6

								p Оплатить заказ в компании «Авалон» вы можете банковским переводом в любом подходящем для вас банке.

								p Мы готовы пойти навстречу, если в вашем распоряжении сейчас нет крупной суммы. В этом случае мы готовы предоставить возможность получения кредита или рассрочки.


							.col-lg-6

								p Сотрудничаем с заказчиками на территории России, а также имеем возможность поставлять мебель в Беларусь и Казахстан.


					

	// Dealers :: End


