---
title: Avalon
bodyClass: page-homepage
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid.png")
		#grid-tablet
			img(src="img/grid/grid-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-mobile.png")
				
block content
	// Promo :: Start
	.promo
		.container
			.row
				.col-8.col-xl-6

					.slides-fade.js-slides-fade
						.slides-fade__item
							img(data-src="img/pic-promo-1.png", alt="" js-lazy)
						.slides-fade__item
							img(data-src="img/pic-promo-2.png", alt="" js-lazy)
						.slides-fade__item
							img(data-src="img/pic-promo-3.png", alt="" js-lazy)

				.col-4.col-xl-6

					.slides-h.js-slides-h
						.slides-h__item
							img(data-src="img/pic-promo-1-small.png", alt="" js-lazy)
						.slides-h__item
							img(data-src="img/pic-promo-2-small.png", alt="" js-lazy)
						.slides-h__item
							img(data-src="img/pic-promo-3-small.png", alt="" js-lazy)

				.col-12.col-md-10.col-xl-6.push-xl-6.offset-xl-0
					
					.slides-v.js-slides-v
						a(href="#").slides-v__item
							.slides-v__item-in
								h2.slides-v__title <b>Металлическое подстолье</b> 0655A
								p.slides-v__text Коллекция мягкой мебели LOFT — это смелое гармоничное сочетание современного дизайна с чертами индустриального прошлого.
								span.slides-v__link перейти в каталог

						a(href="#").slides-v__item
							.slides-v__item-in
								h2.slides-v__title Коллекция <b>VEGETAL</b>
								p.slides-v__text Кресла, будто сплетенные из ветвей, с удобными формами и прочным устойчивым каркасом. Возможно размещение внутри и снаружи.
								span.slides-v__link перейти в каталог
						
						a(href="#").slides-v__item
							.slides-v__item-in
								h2.slides-v__title Стильные диваны <b>LOFT DESIGN</b>
								p.slides-v__text Кресла, будто сплетенные из ветвей, с удобными формами и прочным устойчивым каркасом. Возможно размещение внутри и снаружи.
								span.slides-v__link перейти в каталог

							

	// Promo :: End
	

	// Categories :: Start
	.categories
		.container

			.row
				.col-12.col-indent
					h2.categories__heading Каталог

			.categories__grid
				.row
					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-1.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-1_h.svg", alt="" js-lazy)
							span.categories__item-text Столешницы

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-2.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-2_h.svg", alt="" js-lazy)
							span.categories__item-text Подстолья

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-3.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-3_h.svg", alt="" js-lazy)
							span.categories__item-text Барные стулья

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-4.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-4_h.svg", alt="" js-lazy)
							span.categories__item-text Стулья

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-5.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-5_h.svg", alt="" js-lazy)
							span.categories__item-text Мебель для конференц-залов

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-6.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-6_h.svg", alt="" js-lazy)
							span.categories__item-text Столы

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-7.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-7_h.svg", alt="" js-lazy)
							span.categories__item-text Кресла
					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-8.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-8_h.svg", alt="" js-lazy)
							span.categories__item-text Диваны

					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-9.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-9_h.svg", alt="" js-lazy)
							span.categories__item-text Складная мебель
					.col-6.col-md-4.col-xl-3

						a(href="catalogue.html").categories__item
							span.categories__item-image
								span.categories__item-back
									img(data-src="img/categories/categories-10.svg", alt="" js-lazy)
								span.categories__item-front
									img(data-src="img/categories/categories-10_h.svg", alt="" js-lazy)
							span.categories__item-text Дизайнерская мебель


	// Categories :: End

	// Portfolio :: Start
	.portfolio
		.container
			
			
			.row.align-items-end
				.col-md-7.col-lg-7.col-indent
					h2.portfolio__heading Портфолио
				.col-md-5
					a(href="#").portfolio__link смотреть все проекты
				

			.portfolio__grid
				.row
					.col.col-12.col-md-7

						.slides-portfolio.js-slides-portfolio
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-1.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-2.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

					.col.col-8.offset-4.col-md-5.offset-md-0

						.slides-portfolio.js-slides-portfolio
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-2.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»

					.col.col-10.col-md-3.offset-md-2

						.slides-portfolio.js-slides-portfolio
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-3.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»

					.col.col-6.offset-6.col-md-7.offset-md-0
						.slides-portfolio.js-slides-portfolio
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-4.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»

					.col.col-8.col-md-5
						.slides-portfolio.js-slides-portfolio
							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-5.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»

							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-4.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»

							.slides-portfolio__item
								span.slides-portfolio__image
									img(data-src="img/pic-portfolio-3.png", alt="" js-lazy)
								a(href="#").slides-portfolio__caption Джаз-клуб «Эссе»


	// Portfolio :: End


	// News :: Start

	.news
		.container
			
			.row
				.col-12.col-indent
					h2.news__heading Новости

			.news__grid
				.row
					.col-lg-6.offset-lg-1.push-lg-5

						.news__sticky.js-sticky

							a(href="#").news__item.news__item--dark
								figure.news__item-image
									img(data-src="img/pic-news-4.png", alt="" js-lazy)
								
								.news__item-desc
									.row
										.col-lg-12.col-indent
											h3.news__item-title Оснащение гостевых зон и ресторанного комплекса <b>нового бизнес-отеля Sheraton</b>
											p.news__item-text Многие на личном опыте знают, что такое «комната-пенал» или как говорят дизайнеры «эффект трамвая». Места много — поставить ничего нельзя. AVALON взялись решить эту задачу на отдельно взятой даче. Что же получилось? А получились раздвижные стены, гостиная и кухня с барной стойкой. Все в современном ритме: фрески, пробковые полы, натяжные потолки, камень и деревья, травы, цветы!
							
							.news__load
								a(href="#").btn.btn--load загрузить еще

					.col-md-8.col-lg-5.col-indent.pull-lg-7
						
						a(href="#").news__item
							figure.news__item-image
								img(data-src="img/pic-news-1.png", alt="" js-lazy)
							h3.news__item-title Оснащение зоны питания LOREAL <br>в Калужской области
							p.news__item-text Коллекция мягкой мебели LOFT — это смелое гармоничное сочетание современного дизайна с чертами индустриального прошлого. Минимум изысков и продуманная эргономика сделали эту мебель востребованной и популярной.

						a(href="#").news__item
							figure.news__item-image
								img(data-src="img/pic-news-2.png", alt="" js-lazy)
							h3.news__item-title Компания AVALON поставила мебель в отель Rodina
							p.news__item-text В процессе реновации номеров отеля, руководством компании осуществлялся поиск подрядчика, способного поставить качественную продукцию для отеля.

						a(href="#").news__item
							figure.news__item-image
								img(data-src="img/pic-news-3.png", alt="" js-lazy)
							h3.news__item-title Новый проект мебели для дома Avalonhome
							p.news__item-text Стулья «Чикаго Люкс» в тонировке «тёмный орех» и «Сиэтл» с отделкой декоративными гвоздиками и прошитые контрастными нитями, в тандеме с диванами «Аояма» обеспечивают удобную посадку и комфортную атмосферу зоны лобби.
						
						a(href="#").news__item
							figure.news__item-image
								img(data-src="img/pic-news-2.png", alt="" js-lazy)
							h3.news__item-title Компания AVALON поставила мебель в отель Rodina
							p.news__item-text В процессе реновации номеров отеля, руководством компании осуществлялся поиск подрядчика, способного поставить качественную продукцию для отеля.

	
	// News :: End
