---
title: Реквизиты - Avalon
bodyClass: page-dealers
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid-cred-desktop.png")
		#grid-tablet
			img(src="img/grid/grid-cred-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-cred-phone.png")
block content
	
	
	// Requisites :: Start
	.requisites
		.container
			.row
				.col-lg-11.col-indent
					h1 Реквизиты
					ul.breadcrumbs
						li
							a(href="homepage.html").breadcrumbs__link Главная 
						li
							.breadcrumbs__link Реквизиты
					
					.requisites__container
						.row
							.col-md-8.col-lg-6

								dl
									dt Полное фирменное наименование
									dd Общество с ограниченной ответственностью <br>«Мебель для ресторанов»
									dt Сокращенное фирменное наименование
									dd ООО «Мебель для ресторанов»
									dt Генеральный директор
									dd Попов Евгений Владимирович
									dt Юридический адрес
									dd 129344, г. Москва, ул. Искры, д. 31, корп.1, пом./ком. II/3
									dt Телефон / факс
									dd (495) 585-74-86
									dt Адрес сайта
									dd http://www.avalonmebel.ru
									dt Электронный почтовый адрес
									dd info@avalonmebel.ru

							.col-md-8.col-lg-5.offset-lg-1

								dl
									dt ИНН/КПП
									dd 7716848757/771601001
									dt ОКПО
									dd 06781866
									dt ОГРН
									dd 1177746169259
									dt Банк
									dd АО «Тинькофф Банк»
									dt БИК
									dd 044525974
									dt Корр. счет Банка
									dd 30101810145250000974
									dt Расчетный счет
									dd 40702810510000089504

						p.requisites__caption Внимание! Счета принимаются только <br>с печатью.


	// Requisites :: End
