---
title: Результаты поиска - Avalon
bodyClass: page-results
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid-search-desktop.png")
		#grid-tablet
			img(src="img/grid/grid-search-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-search-phone.png")
block content
	
	
	// Results :: Start
	.results
		.container
			.row
				.col-12.col-indent
					h1 Результаты поиска
					ul.breadcrumbs
						li
							a(href="homepage.html").breadcrumbs__link Главная 
						li
							.breadcrumbs__link Результаты поиска

			.results__container
				.row
					.col-6.col-md-8.col-xl
						h2.results__heading Товары

					.col-6.col-md-4.col-xl-20
						.results__display
								label.ui__check
									input(type="radio" name="display").ui__check-input
									span.ui__check-link 8

								label.ui__check
									input(type="radio" name="display").ui__check-input
									span.ui__check-link 12

								label.ui__check
									input(type="radio" name="display" checked).ui__check-input
									span.ui__check-link 18

								label.ui__check
									input(type="radio" name="display").ui__check-input
									span.ui__check-link все
				
				// results catalog
				.results__catalog
					.row
						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-1.png", alt="")
								h2.product__title Кресло 3402B
								p.product__price 3560 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-2.png", alt="")
								h2.product__title Кресло Денди
								p.product__price 4200 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-3.png", alt="")
								h2.product__title Кресло 0623B
								p.product__price 5360 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-4.png", alt="")
								h2.product__title Кресло орион
								p.product__price 4800 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>


						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-5.png", alt="")
								h2.product__title Складной стол 1206NM
								p.product__price 8750 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-6.png", alt="")
								h2.product__title Кресло 6811bm
								p.product__price 2340 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-7.png", alt="")
								h2.product__title Кресло эмилия
								p.product__price 6670 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-8.png", alt="")
								h2.product__title Кресло 6811bm
								p.product__price 5250 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>


						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-9.png", alt="")
								h2.product__title Складной стол 1206NM
								p.product__price 8300 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-10.png", alt="")
								h2.product__title Стул 3302GM
								p.product__price 1250 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-11.png", alt="")
								h2.product__title Складной стол 1202NM
								p.product__price 10000 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-12.png", alt="")
								h2.product__title Стул 1404GM
								p.product__price 3400 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>


						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-13.png", alt="")
								h2.product__title Стул 1405GM
								p.product__price 3500 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

						.col-6.col-sm-4.col-xl-20
				
							a(href="sku.html").product
								figure.product__image
									img(src="img/pic-14.png", alt="")
								h2.product__title Стул 1406GM
								p.product__price 2900 ₽
								ul.product__desc
									li Размеры (см): <b>160х87х99</b>
									li Вес: <b>5.5 кг</b>
									li Наличие: <b>есть</b>

				
				h2.results__heading Категории товаров

				.results__categories
					.row
						.col-lg-6.col-xl-40
							a(href="#").categories__link Кресла
						.col-lg-6.col-xl-40
							a(href="#").categories__link Кресла для клубов и баров

				.results__load
					a(href="#").btn.btn--load загрузить еще

	// Results :: End
