---
title: Результаты поиска - Avalon
bodyClass: page-results
---
extends shared/_layout
block content
	
	
	// Results :: Start
	.results
		.container

			.row
				.col-12.col-indent

					h1 Результаты поиска

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Результаты поиска

					p.results__caption По запросу «Столик» результатов не найдено. Пожалуйста, попробуйте снова. Также, вы можете найти товар самостоятельно в одном из разделов нашего каталога.

			
			.results__categories

				.categories__grid
					.row
						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-1.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-1_h.svg", alt="")
								span.categories__item-text Столешницы

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-2.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-2_h.svg", alt="")
								span.categories__item-text Подстолья

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-3.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-3_h.svg", alt="")
								span.categories__item-text Барные стулья

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-4.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-4_h.svg", alt="")
								span.categories__item-text Стулья

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-5.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-5_h.svg", alt="")
								span.categories__item-text Мебель для конференц-залов

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-6.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-6_h.svg", alt="")
								span.categories__item-text Столы

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-7.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-7_h.svg", alt="")
								span.categories__item-text Кресла
						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-8.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-8_h.svg", alt="")
								span.categories__item-text Диваны

						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-9.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-9_h.svg", alt="")
								span.categories__item-text Складная мебель
						.col-6.col-md-4.col-xl-3

							a(href="#").categories__item
								span.categories__item-image
									span.categories__item-back
										img(src="img/categories/categories-10.svg", alt="")
									span.categories__item-front
										img(src="img/categories/categories-10_h.svg", alt="")
								span.categories__item-text Дизайнерская мебель



	// Results :: End


