---
title: Результаты поиска - Avalon
bodyClass: page-results
---
extends shared/_layout
block content
	
	
	// Results :: Start
	.results
		.container

			.row
				.col-12.col-indent

					h1 Результаты поиска

					ul.breadcrumbs
						li
							a(href="#").breadcrumbs__link Главная 
						li
							a(href="#").breadcrumbs__link Результаты поиска

			.results__container

				h2 Товары

				.results__products

				.results__categories

				.results__load

					a(href="#").btn.btn--load загрузить еще



	// Results :: End


