---
title: Услуги - Avalon
bodyClass: page-services
---
extends shared/_layout
block pixelPerfect
	.pixel-perfect
		#grid-desktop
			img(src="img/grid/grid-services-desktop.png")
		#grid-tablet
			img(src="img/grid/grid-services-tablet.png")
		#grid-mobile
			img(src="img/grid/grid-services-phone.png")
block content
	
	
	// Services :: Start
	.services
		.container
			.row
				.col-lg-11.col-indent
					h1 Услуги
					ul.breadcrumbs
						li
							a(href="homepage.html").breadcrumbs__link Главная 
						li
							.breadcrumbs__link Компания 
						li
							.breadcrumbs__link Услуги

					em Компания «Авалон» предоставляет широкий спектр услуг, тесно сопряжённых с приобретением мебели. Мы не просто продаём мебель, мы помогаем её купить! Специалисты компании «Авалон» всегда готовы оказать содействие клиенту не только в оформлении технической стороны заказа, но и определиться в выборе.

					em Наш каталог ориентирован на удовлетворение абсолютно любого запроса, так что очень часто, заблудившись в пёстром разнообразии, клиент может выделит десять-пятнадцать наборов, которые ему нравится в одинаковой мере, но что лучше всего подойдёт для его заведения определить затрудняется. В этом случае наши консультанты помогут вам проанализировать общую концепцию зала и решить, какая точно мебель лучше всего подойдёт по требованиям к качеству и стилю.

					.services__type
						.row
							.col-lg-6

								h2 Подбор мебели

								p Консультацию можно получить по телефону, список контактных телефонных номеров изложен в разделе контакты. Консультанты компании «Авалон» прошли специальное обучение и постоянно следят за уровнем своей квалификации. Они продемонстрируют не только вежливость и высокий уровень коммуникативности, но и профессионализм, бережное отношение к получаемой от заказчика информации.

								p В интересах повышения скорости и качества в обслуживании клиентов мы разработали специальную технику приёма информации от заказчика. Никакая полученная нами информация не потеряется, и не станет известна третьим лицам. Также мы постоянно поддерживаем связь с нашими заказчиками, чтобы вовремя информировать их о результатах проектирования меблировки зала и пути следования их мебели.

							.col-lg-6
								figure.services__image.services__image--right
									img(data-src="img/pic-services-1.png", alt="" js-lazy)
					
					.services__type

						h2 проектирование

						.row
							.col-lg-6

								figure.services__image.services__image--left
									img(data-src="img/pic-services-2.png", alt="" js-lazy)

							.col-lg-6
								p В том случае, если зал заказчика предполагается наполнить буквально «с нуля», то есть от голых стен до уютного кафе, мы готовы взять на себя разработку проекта меблировки помещения. Отталкиваясь от планируемой целевой аудитории Вашего помещения, плана имеющегося помещения и иных технических и проектных данных бизнес-плана вашего предприятия, группа компании «Авалон» составит полную схему меблировки зала.
								p Затем, на основании этой схемы мы сформулируем спецификацию, по которой можно будет получить  на складе мебель. Также возможна комплектация объектов мебелью по проектной документации со склада в Москве или заводом-изготовителем за рубежом на основании готового плана или визуализации.

					.services__type

						h2 Доставка

						.row
							.col-lg-6
								p Реализация мебели возможна с доставкой к порогу заказчика. Доставка осуществляется по всей территории России и за её пределы. Мы работаем с крупнейшими транспортными компаниями, так что в большинстве случаев договор на доставку заключается с ними. Но в случае, если клиент не заинтересован в вовлечении третьего участника в сделку, компания «Авалон» с готовностью возьмёт ответственность по доставке на себя.
								p В любом случае, мы обязательно контролируем весь путь движения вашего заказа, каким бы маршрутом он не отправился к порогу заказчика. Доставка подразумевает несколько ступеней гарантии сохранности груза.

							.col-lg-6
								.services__company
									.row
										.col-6
											.services__company-item
												img(data-src="img/pic-company-1.png", data-srcset="img/pic-company-1@2x.png 2x", alt="" js-lazy)

										.col-6
											.services__company-item
												img(data-src="img/pic-company-2.png", data-srcset="img/pic-company-2@2x.png 2x", alt="" js-lazy)
										.col-6
											.services__company-item
												img(data-src="img/pic-company-3.png", data-srcset="img/pic-company-3@2x.png 2x", alt="" js-lazy)

										.col-6
											.services__company-item
												img(data-src="img/pic-company-4.png", data-srcset="img/pic-company-4@2x.png 2x", alt="" js-lazy)

										.col-6
											.services__company-item
												img(data-src="img/pic-company-5.png", data-srcset="img/pic-company-5@2x.png 2x", alt="" js-lazy)

	// Services :: End

	// Cases Other :: End

	.cases__other
		.container
			.row
				.col-12.col-indent

					h2.cases__other-heading Наши проекты
			
			.cases__grid
				.row
					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(data-src="img/pic-cases-1.png", alt="" js-lazy)
							p.cases__item-caption Оснащение зоны питания LOREAL в Калужской области

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(data-src="img/pic-cases-2.png", alt="" js-lazy)
							p.cases__item-caption Компания AVALON поставила мебель в отель Rodina

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(data-src="img/pic-cases-3.png", alt="" js-lazy)
							p.cases__item-caption Дизайнерские диваны для тату-салона GOENHENTZ

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(data-src="img/pic-cases-4.png", alt="" js-lazy)
							p.cases__item-caption Ресторан «Веранда 13» в Мытищах

					.col-12.col-sm-6

						a(href="#").cases__item
							figure.cases__item-image
								img(data-src="img/pic-cases-5.png", alt="" js-lazy)
							p.cases__item-caption Ресторан «Лепешка», г.Королёв


	// Cases Other :: End
