include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    // required for barba bindgins
    #barba-wrapper
      block header
        include ../components/_header
      // this will be changed with every pjax request
      .page
        .page__content
          block content

        block footer
          include ../components/_footer
      
        block callback
          include ../components/_callback
        
        block pixelPerfect
          
        include ../components/_grid
        
      block scripts
        include _scripts
