include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    // required for barba bindgins
    #barba-wrapper
      .page(class=outClass)
        // this will be changed with every pjax request
        .page__content
            block header
              include ../components/_header
            block content

        block footer
          include ../components/_footer
      
        block callback
          include ../components/_callback
        
        include ../components/_grid
        
      block scripts
        include _scripts
