.promo, .portfolio, .news, .categories
	.container
		max-width: 100%

.cases, .cases__other
	.container
		max-width: 100%

.header
	.container
		max-width: 100%


.categories
	+rmin($hd)
		.col-xl-3
			width: 20%
			max-width: 20%
