// Breadcrumbs

.breadcrumbs
	// margin: 0 0 27px
	margin: 0 0 18px
	padding: 0
	letter-spacing: normal
	font-size: 12px
	line-height: 1
	& > li
		display: inline-block
		vertical-align: top
		position: relative
		padding: 0 20px 3px 0
		&:after
			content: ' → '
			display: block
			position: absolute
			top: 0
			right: 0
			width: 20px
			text-align: center
		&:last-child:after
			display: none
		&:first-child .breadcrumbs__link
			border-color: #202020
	+rmin($tablet)
		font-size: 15px
		line-height: 18px
		margin: 0 0 28px
	+rmin($desktop)
		margin: 0 0 58px


.breadcrumbs__link
	display: block
	color: #202020
	border-bottom: 1px solid transparent
	transition: 0.25s
	&:hover
		color: #C43939
		border-color: #202020