.dealers
  +rmin($tablet)
    margin-right: -10%
  +rmin($desktop)
    margin-right: 0

  .col-lg-6
    +rmin($tablet)
      padding-right: 20%
    +rmin($desktop)
      padding-right: 20px

  ul
    +rmin($tablet)
      padding-right: 7%
    +rmin($desktop)
      padding-right: 0
