// HEADER


.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1000
	height: 60px
	background: #fff
	transition: 0.3s $ease
	backface-visibility: hidden
	width: 100%
	.container
		position: relative
		min-height: 100%
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 60px
		background: #fff
		z-index: -1
		font-size: 0
		transition: inherit
		// margin: 0 0 0 -1px

	+rmin($tablet)
		&:after
			left: 320px
	+rmin($desktop)
		&:after
			left: 50vw
//
// .is-chrome
// 	.header
// 		&:after
// 			margin: 0 0 0 -1px

.is-chrome
	.news__grid .push-lg-5
		+rmin($desktop)
			left: 41.7%




// ------


.logo
	position: absolute
	top: 10px
	left: 10px
	font-size: 40px
	.ico
		border-right: 1px solid #fff
	a
		display: inline-block
		vertical-align: top
		position: relative
		z-index: 20
		color: #fff
	+rmin($tablet)
		font-size: 60px
		top: 20px
		left: 20px


// ------



.btn--nav
    display: block
    width: 40px
    height: 40px
    background: #252525
    padding: 0
    border: none

    position: absolute
    top: 0
    left: 100%
    cursor: pointer
    z-index: 10


    span
        display: block
        position: absolute
        top: 50%
        left: 50%
        width: 20px
        height: 2px
        background: #fff
        margin: -1px 0 0 -10px
        transition: 0.3s $ease
        &:nth-child(1)
            transform: translate(0,-7px)
        &:nth-child(3)
            transform: translate(0,7px)
    &:hover span
        background: $primaryColor

    +rmin($tablet)
    	width: 60px
    	height: 60px
    	span
    		width: 30px
    		height: 3px
    		margin: -1.5px 0 0 -15px
    		&:nth-child(1)
    			transform: translate(0,-11px)
    		&:nth-child(3)
    			transform: translate(0,11px)
    +rmin($xl)
    	transform: translate(-60px,0)
     	opacity: 0
     	visibility: hidden


// ------

.nav
	transition: 0.3s $ease
	font-size: 15px
	line-height: 30px
	font-weight: 900
	text-transform: uppercase
	position: absolute
	top: 100%
	left: 0
	right: 0
	// width: 100%
	padding: 0 30px 42px 59px
	z-index: 200
	opacity: 0
	visibility: hidden
	max-height: calc(100vh - 40px)
	overflow-x: hidden
	overflow-y: auto

	&::-webkit-scrollbar
    	display: none

	+rmin($tablet)
		top: 0
		left: 320px
		right: 60px
		// margin: 0 0 0 -59px
		max-width: 400px
		background: none
		box-shadow: none
	+rmin($xl)
		opacity: 1
		visibility: visible
		left: 25%
		margin-left: -39px

	// box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)

.nav__menu
	margin: 0
	// padding: 0
	padding: 3px 0 0
	letter-spacing: normal
	// display: flex
	// flex-wrap: wrap
	max-width: 300px
	.row
		margin: 0
		& > [class^="col"]
			padding: 0
	& > li
		margin: 0
		width: 50%
		padding: 10px 0

.nav__link
	padding: 10px 0
	display: block
	color: #252525
	transition: 0.3s $ease
	&:hover
		color: $primaryColor


// -----

.nav__collapse
	// width: 200%
	font-size: 15px
	line-height: 15px
	font-weight: 400
	text-transform: none
	// padding: 26px 0 22px
	display: none


.nav__collapse-menu
	margin: 0
	padding: 0 10px 0 0
	letter-spacing: normal
	& > li
		padding: 0 0 14px
		display: block

.nav__collapse-link
	display: block
	color: #252525
	transition: 0.3s $ease
	&:hover
		color: $primaryColor


// ------

.phone
	margin: 0
	// padding: 10px 20px
	padding: 13px 20px 10px
	font-size: 25px
	line-height: 40px
	font-weight: 900
	transition: 0.3s $ease
	// overflow: hidden
	display: none
	+rmin($tablet)
		display: block
		position: absolute
		top: 0
		left: 320px
		height: 40px
	+rmin($desktop)
		left: 58.33333%




.phone__number
	position: relative
	display: block
	color: #252525
	transition: 0.3s $ease
	&:nth-child(1)
		z-index: 2
	&:nth-child(2)
		z-index: 1

// ------

.search
	position: absolute
	top: 0
	height: 50px
	padding: 0
	// right: 67px
	right: 10px
	width: 25px
	z-index: 20
	background: #fff
	transition: 0.3s $ease
	z-index: 100
	&:after
		content: ''
		display: block
		position: absolute
		top: -5px
		left: -10px
		right: -10px
		bottom: -10px
		background: #fff
		z-index: -1
		display: none

	// &:before
	// 	content: ''
	// 	display: block
	// 	position: absolute
	// 	top: 100%
	// 	width: 100%
	// 	background: #fff
	// 	height: 5px
	// &:after
	// 	content: ''
	// 	display: block
	// 	position: absolute
	// 	bottom: 0
	// 	left: 0
	// 	width: 100%
	// 	height: 3px
	// 	background: #252525
	// 	z-index: 10
	+rmin($tablet)
		height: 80px
		padding: 0
		right: 20px
		&:before
			content: ''
			display: block
			position: absolute
			top: 100%
			left: 0
			right: 0
			height: 5px
			background: #fff
	+rmin($desktop)
		// padding: 0 60px
		right: 66px



.search__input
	transition: 0.3s $ease
	display: block
	height: 50px
	padding: 10px 25px 10px 0
	width: 100%
	font: 900 20px/20px $fontBase
	color: transparent
	border: none
	z-index: 5
	margin: 0
	border-bottom: 3px solid #252525
	position: relative
	border-radius: 0
	-webkit-appearance: none
	// transition-delay: 0.3s
	// opacity: 0
	// visibility: hidden
	// text-indent: -9999px
	&::placeholder
		transition: inherit
		color: rgba(37, 37, 37, 0)
	+rmin($tablet)
		height: 80px
		padding: 11px 25px 29px 0
		font-size: 25px
		line-height: 40px




.search__btn
	-webkit-appearance: none
	display: block
	padding: 0
	background: none
	font-size: 26px
	line-height: 1
	height: 100%
	width: 25px
	// background: #fff
	position: absolute
	top: 0
	right: 0
	z-index: 10
	background: none
	cursor: pointer
	transition: 0.3s $ease
	color: #252525

	.ico
		position: absolute
		top: 50%
		left: 0
		transform: translate(0,-50%)
		margin: -2.5px 0 0 -1px
	&:hover
		color: $primaryColor

	+rmin($tablet)
		right: 0
		top: -8px
		font-size: 25px
		.ico
			margin: 0


.search__clear
	display: block
	font-size: 25px
	border: none
	line-height: 1
	height: 100%
	position: absolute
	top: 0
	right: 0
	padding: 0
	width: 25px
	z-index: 15
	transition: 0.3s $ease
	color: #252525
	opacity: 0
	visibility: hidden
	cursor: pointer
	background: none
	text-align: center
	transform: scale(0)
	.ico
		transform: translateY(-3px)
	&:hover
		color: $primaryColor

.search__dropdown
	position: absolute
	top: 100%
	left: 0
	width: 100%
	text-align: center
	background-color: #ffffff
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)
	padding: 0
	font-size: 15px
	line-height: 20px
	font-weight: 400
	transition: 0.3s $ease
	display: none
	// opacity: 0
	// visibility: hidden
	overflow-y: auto
	max-height: calc(100vh - 140px)

.search__progress
	height: 3px
	position: absolute
	left: 0
	bottom: 0
	background: $primaryColor
	width: 0
	z-index: 20


.search__group
	padding: 0 0 20px
	&--count
		margin-top: -20px
		padding-bottom: 16px

.search__count
	display: block
	margin: 0 0 10px

.search__count-link
	color: #000
	transition: 0.3s $ease
a.search__count-link
	&:hover
		color: $primaryColor

.search__list
	margin: 0 -10px 0px
	padding: 0
	list-style: none
	display: flex
	flex-wrap: wrap
	justify-content: center

	& > li
		padding: 0 10px
		margin: 0 0 10px
		display: none
		animation: zoomIn 0.5s both
		position: relative
		&:hover
			z-index: 10
		&.is-visible
			display: block

.search__categories
	margin-top: 18px
	.search__item
		margin-bottom: 0

@keyframes zoomIn
	0%
		opacity: 0
		transform: scale3d(0.3, 0.3, 0.3)
	50%
		opacity: 1




.search__item
	position: relative
	display: block
	font-weight: 900
	text-transform: uppercase
	max-width: 170px
	margin: 0 auto 20px
	// color: #000
	transition: 0.3s $ease
	z-index: 10
	&--category
		margin-top: -5px

a.search__item
	&:hover
		color: $primaryColor
		z-index: 20
		.search__item-name
			color: $primaryColor
			mark
				color: $primaryColor
		.search__item-image
			// border-color: $blackColor
			// box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)
			// img
			// 	transform: translate(-50%,-40%) scale(2)


.search__item-image
	margin: 0px auto 10px
	overflow: hidden
	position: relative
	background: #fff
	width: 70px
	height: 70px
	border: 1px solid transparent
	img
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		max-width: 90%
		max-height: 90%
		transition: 0.3s $ease

.search__item-name
	display: block
	transition: .3s $ease
	mark
		background: none
		color: #999
		transition: .3s $ease



.search__action
	padding: 0


.search__results
	display: none
	max-width: 400px
	margin: 0 auto
	padding: 10px 20px 40px

.search__notfind
	font-size: 15px
	line-height: 20px
	margin: 0
	padding: 58px 40px 77px 37px
	display: block
	text-align: left
	display: none
	+rmin($tablet)
		font-size: 20px
		line-height: 25px
	+rmin($desktop)
		font-size: 25px
		line-height: 35px


// ------


.is-search-found
	.search__results
		// display: block
	// .search__dropdown
	// 	opacity: 1
	// 	visibility: visible

.is-search-notfound
	.search__notfind
		// display: block
	// .search__dropdown
	// 	opacity: 1
	// 	visibility: visible

.is-search-keyup

	.search__clear
		opacity: 1
		visibility: visible
		transform: scale(1)

	.search__btn
		opacity: 0
		visibility: hidden
		transform: scale(0)

.is-search-open
	.search
		width: calc(100% - 20px)
		+rmin($tablet)
			width: calc(100% - 360px)
		+rmin($desktop)
			width: calc(41.66667% - 86px)

	.search__input
		opacity: 1
		visibility: visible
		text-indent: 0
		color: #252525

		&::placeholder
			color: rgba(37, 37, 37, 0.25)









.is-headerFixed

	.header
		background: none
		height: 60px
	.btn--nav
		transform: translate(0,0)
		opacity: 1
		visibility: visible
	.logo
		border-color: #fff
	.search
		height: 50px
		&:after, &:before

	.search__input
		height: 50px
	.nav
		opacity: 0
		visibility: hidden
		transform: translate(0,-20px)

	.phone__number
		height: 40px
		&:nth-child(2)
			opacity: 0
			visibility: hidden
			transform: translate(0,-40px)
	+rmin($tablet)
		.search__btn
			top: -3px




.is-navOpen
	overflow: hidden
	+rmin($tablet)
		overflow: visible
	.btn--nav
		span
			&:nth-child(1)
				transform: translate(0,0) rotate(45deg)
			&:nth-child(2)
				opacity: 0
			&:nth-child(3)
				transform: translate(0,0) rotate(-45deg)




.is-navOpen
	.nav
		opacity: 1
		visibility: visible
		transform: translate(0,0)
		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)
		background: #fff


// 	.nav
// 		background: #fff
// 		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)
// 		opacity: 1
// 		visibility: visible
