// News

.news
	.container
		// max-width: 1920px
	+rmin($tablet)
		padding: 18px 0 0
	+rmin($desktop)
		padding: 114px 0 0

.news__heading
	font-size: 50px
	font-weight: 900
	line-height: 1
	display: block
	position: relative
	margin: 0 0 34px -4px
	+rmin($tablet)
		font-size: 80px
		margin: 0 0 40px
	+rmin($wide)
		font-size: 120px
		margin: 0 0 92px


.news__grid
	position: relative
	z-index: 10
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 5px
		right: 0
		width: 120vw
		margin: 0 -30px 0 0
		// margin: 0 0 0 -70vw
		background: #f2f1ed
		z-index: -1
	.row > [class^="col"]
		position: static

	+rmin($mobile)
		// &:after
		// 	right: 16.666%
		// 	margin: 0
		// &:after
		// 	left: auto
		// 	margin: 0 -30px 0 0
		// 	right: 17.666%
	+rmin($tablet)
		margin: 0 0 60px
		// .indent
			// margin-left: 5px
		&:after
			right: 27%
			margin: 0
	+rmin($desktop)
		background: none
		padding: 0 0 55px
		margin: 0
		&:after
			right: 50%
			bottom: 0
		// &:after
		// 	width: 50vw
		// 	left: -50%
		// 	margin: 0

		

		.row > [class^="col"]
			position: relative






.news__item
	display: block
	position: relative
	padding: 30px 0 28px
	&:last-of-type
		&:after
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		bottom: 2px
		right: 0
		width: 560px
		height: 3px
		background: #252525
	&:hover
		.news__item-image
		    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.5)
		.news__item-title
			color: #c43939
	+rmin($tablet)
		padding: 60px 0 56px 4px
		&:nth-child(2):not(.news__item--dark)
			padding-top: 65px
			padding-bottom: 40px
	+rmin($desktop)
		// max-width: 440px
		// margin: 0 auto
		padding: 60px 0 56px 8px
		// padding: 60px 0
		&:nth-child(2):not(.news__item--dark)
			padding-top: 60px
			padding-bottom: 56px

.news__item-image
	margin: 0 0 20px
	overflow: hidden
	position: relative
	transition: 0.25s

	&:before
		content: ''
		display: block
		float: left
		padding: 60.3% 0 0
	img
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover
	+rmin($tablet)
		margin: 0 0 23px
	+rmin($desktop)
		margin: 0 0 24px


.news__item-title
	font-size: 23px
	line-height: 25px
	font-weight: 900
	margin: 0 0 17px
	transition: 0.25s
	+rmin($tablet)
		font-size: 25px
		line-height: 30px
		margin: 0 0 15px
	+rmin($desktop)
		margin: 0 0 15px -1px
	+rmin($xl)



.news__item-text
	margin: 0 0 0 -1px
	font-size: 15px
	line-height: 20px
	+rmin($tablet)
		font-size: 18px
		line-height: 25px


// -----

.news__item--dark
	max-width: none
	background: #252525
	color: #fff
	padding: 0
	transition: 0.25s
	&:after
		display: none

	.news__item-image
		margin: 0
		&:before
			// padding: 53.6% 0 0
			padding: 50.5% 0 0

	.news__item-title
		margin: 0 25px 20px 0
	
	+rmin($tablet)
		.news__item-image:before
			padding: 49% 0 0
		.news__item-title
			font-size: 40px
			line-height: 50px
			font-weight: 400
			margin: 0 0 38px
			b
				font-weight: 900

		.news__item-text
			font-size: 20px
			line-height: 25px
			max-width: 580px

	+rmin($desktop)
		.news__item-image:before
			padding: 53.6% 0 0
	
	+rmin($wide)
		.news__item-title
			font-size: 50px
			line-height: 60px
			font-weight: 400
			margin: 0 20px 34px 0
			
		.news__item-text
			font-size: 25px
			line-height: 35px
			max-width: 560px


.news__item-desc
	padding: 24px 30px 22px 30px
	+rmin($tablet)
		padding: 44px 30px 52px 35px
	+rmin($desktop)
		// padding-left: 78px
		// padding-right: 82px
	+rmin($desktop)
		// padding: 62px 0 69px 17px
		// padding: 62px 62px 72px 78px
		padding: 62px 20px 72px 34px


.news__load
	// display: inline-block
	// vertical-align: top
	// font-size: 15px
	// line-height: 1
	// font-weight: 900
	// color: #252525
	// padding: 6px 0 8px
	// border-bottom: 3px solid #252525
	// margin: 20px 0
	// transition: 0.25s
	position: absolute
	top: 100%
	left: 0
	right: 0
	padding: 15px 0
	// &:hover
		// color: #c43939

	+rmin($mobile)
		// left: 8.333%

	+rmin($tablet)
		// font-size: 20px
		padding: 42px 0
		// left: 4px
		padding-left: 7.2%
		left: -10px
		right: -10px

	+rmin($desktop)
		position: relative
		top: 0
		left: 0
		// padding: 106px 20px 55px 20px
		// padding: 106px 0 55px 19.333%
		padding: 106px 0 106px 19.333%
		// padding: 106px 0 55px 140px
		
	+rmin($wide)
		// margin-left: 77px
		// font-size: 25px
		// margin: 108px 0 110px 140px

// -----

.news__sticky
	margin: 0 -30px
	backface-visibility: hidden
	transform: translate3d(0,0,0)
	+rmin($desktop)
		margin: 0 -20px


// -----

