// Products


.product
	display: flex
	flex-direction: column
	position: relative
	z-index: 10
	// backface-visibility: hidden
	// margin: 0 0 16px
	margin: 0 0 14px
	transition: .25s $ease
	& *
		// backface-visibility: hidden
	&:hover
		z-index: 20

		.product__image
			border-color: $blackColor
			img
				&.product__image-main
					opacity: 0
				&.product__image-hover
					opacity: 1
		.product__desc
			opacity: 1
	+rmin($tablet)
		margin: 0 0 32px

.product__image
	position: relative
	margin: 0 0 12px
	background: #fff
	overflow: hidden
	border: 2px solid transparent
	transition: 0.3s $ease
	&:before
		content: ''
		float: left
		padding: 100% 0 0
	img
		transition: inherit
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		max-width: 80%
		max-height: 80%
		transition: .3s $ease
		&.product__image-main
			opacity: 1
		&.product__image-hover
			opacity: 0
	+rmin($tablet)
		margin: 0 0 18px


.product__title
	display: block
	margin: 0 0 0px
	font: 900 15px/1.25 $fontBase
	text-transform: uppercase
	+rmin($tablet)
		font-size: 20px

.product__price
	display: block
	margin: -4px 0 0 0
	font-size: 15px
	line-height: 20px
	+rmin($tablet)
		font-size: 20px
		line-height: 28px

.product__desc
	position: absolute -20px
	margin: 0
	padding: 0
	letter-spacing: normal
	overflow: hidden
	// max-height: 0
	font-size: 15px
	line-height: 20px
	transition: .3s $ease
	background: #fff
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25)
	z-index: -1
	transition: 0.3s $ease
	opacity: 0
	// visibility: hidden
	pointer-events: none
	padding: 20px

	& > li
		display: block
		margin: 0 0 10px
		&:last-child
			margin: 0
	+rmin($tablet)
		padding: 40px
		position: absolute -40px
