// Related

.related
	// padding: 105px 0
	+rmin($tablet)


.related__heading
	font-size: 30px
	line-height: 1
	font-weight: 900
	margin: 0 0 22px
	+rmin($tablet)
		font-size: 50px
		margin: 0 0 28px

.related__container
	position: relative
	z-index: 10
	padding: 20px 10px 60px
	background: #f2f1ed
	margin: 0 -30px

	+rmin($tablet)
		padding: 40px 20px 80px
		margin: 0 -20px
	+rmin($desktop)
		margin: 0
		padding: 40px 0 80px
		background: none
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			bottom: 0
			min-width: 120vw
			z-index: -1
			background: #f2f1ed


.related__grid
	.row
		margin: 0 -10px
		& > [class^="col"]
			padding: 0 10px
	+rmin($tablet)
		.row
			margin: 0 -20px
			& > [class^="col"]
				padding: 0 20px


.related__load
	margin-top: 0px
	padding: 30px 30px 0
	+rmin($tablet)
		margin-top: 60px
		// margin: 0 -20px
		padding: 0 0 0 0%
