// Slides Fade


.slides-fade
	position: relative
	margin: 0 0 0 -20px
	min-width: 100%
	height: 100%
	.slick-list, .slick-track
		height: 100%
	.slick-dots
		margin: 0
		padding: 41px 0 0
		list-style: none
		display: flex
		justify-content: center
		position: absolute
		top: 100%
		left: 0
		right: 0
		& > li
			margin: 0 35px
		button
			display: block
			width: 20px
			height: 20px
			padding: 0
			text-indent: -9999px
			border: 3px solid #252525
			border-radius: 50%
			background: none
			transition: 0.25s
			cursor: pointer
			&:hover
				border-color: #c43939

		.slick-active button
			background: #252525
			border-color: #252525


.slides-fade__item
	display: block
	position: relative
	overflow: hidden
	&:before
		content: ''
		display: block
		float: left
		padding: 80.555% 0 0
	img
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover















// Slides Horizontal

.slides-h
	position: relative
	// background: #f6f6f6
	min-width: 100%
	// background-image: radial-gradient(circle at 51% 32%, #ffffff, #f6f6f6)
	// background-position: center center
	margin: 0 -20px 0 0
	// min-height: 100%
	height: 100%
	+rmin($xl)
		// padding: 0 0 205px
		// margin: 0 0 205px
		.slick-slide
			padding: 0 0 205px

	.slick-track
		display: flex
		align-items: center
	// .slick-slide
	// 	display: flex
	// 	align-items: center
	// 	justify-content: center
 //    	height: auto
	
	.slick-list
		height: 100%
	.slick-track
		height: 100%
	.slick-slide
		height: 100%
	
	.slick-dots
		margin: 0
		padding: 30px 0
		list-style: none
		display: flex
		justify-content: center
		position: absolute
		bottom: 30px
		left: 0
		right: 0
		& > li
			margin: 0 10px
		button
			display: block
			width: 10px
			height: 10px
			padding: 0
			text-indent: -9999px
			border: 2px solid #252525
			border-radius: 50%
			background: none
			transition: 0.25s
			cursor: pointer
			&:hover
				border-color: #c43939

		.slick-active button
			background: #252525
			border-color: #252525

		+rmin($tablet)
			bottom: 60px

	.slick-arrow
		display: block
		display: flex
		align-items: center
		justify-content: center
		width: 40px
		height: 40px
		line-height: 1
		padding: 0
		background: none
		border-radius: 50%
		position: absolute
		bottom: 75px
		font-size: 13px
		cursor: pointer
		z-index: 10

		color: #252525
		transition: 0.25s
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: 2px solid #252525
			border-radius: 50%;
			transition: inherit
		&:hover
			color: #c43939
			&:after
				opacity: 0


	.slick-prev
		left: 20px

	.slick-next
		right: 20px
	+rmin($xl)
		.slick-arrow
			top: 50%
			bottom: auto
			margin: -140px 0 0
		.slick-prev
			left: 60px
		.slick-next
			right: 60px

.slides-h__item
	position: relative
	padding: 20px 20px 90px 20px
	display: flex
	align-items: center
	justify-content: center
	img
		max-height: 100%
	+rmin($tablet)
		// padding: 30px 30px 135px

	+rmin($desktop)
		padding: 30px 30px 135px

















// Slides Vertical


.slides-v
	position: relative
	top: -30px
	margin: 0 60px 0 -20px
	transition: 0.25s
	background: #252525

	.slick-slide .slides-v__item-in
		transform: translate(0,100%)
		opacity: 0
	.slick-active .slides-v__item-in
		transform: translate(0,0)
		opacity: 1
	.slick-arrow
		display: block
		display: flex
		align-items: center
		justify-content: center
		width: 40px
		height: 40px
		line-height: 1
		padding: 0
		background: none
		border-radius: 50%
		position: absolute
		top: 50%
		font-size: 13px
		cursor: pointer
		z-index: 10
		margin: 0 0 0 20px
		color: #252525
		transition: 0.25s
		left: 100%
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: 2px solid #252525
			border-radius: 50%;
			transition: inherit
		&:hover
			color: #c43939
			&:after
				opacity: 0

	.slick-prev
		top: 60px

	.slick-next
		top: 130px
		

	&:hover
		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.75);
	+rmin($tablet)
		margin: 0
		top: -55px
	+rmin($xl)
		top: -205px
		margin: 0 40px -117px 60px


.slides-v__item
	display: block
	background: #252525
	color: #fff
	position: relative
	padding: 20px 30px 30px 30px
	min-height: 200px
	// display: flex
	// align-items: center
	&:hover
		.slides-v__text
			opacity: 0
		.slides-v__link
			opacity: 1
			transform: translate(0,0)
	+rmin($tablet)
		padding: 33px 53px 43px 57px
	+rmin($desktop)
		padding: 54px 83px 81px 78px
	+rmin($xl)
		min-height: 410px
		padding-bottom: 41px
	
.slides-v__item-in
	width: 100%
	position: relative
	transition: 0.4s cubic-bezier(1, 0, 0, 1)

.slides-v__title
	display: block
	font-size: 23px
	line-height: 25px
	font-weight: 400
	margin: 0 0 22px
	b
		font-weight: 900
	+rmin($tablet)
		font-size: 40px
		line-height: 50px
		margin: 0 0 47px
	+rmin($hd)
		font-size: 50px
		line-height: 60px
		margin: 0 -30px 34px 0


.slides-v__text
	display: block
	transition: 0.25s
	font-size: 15px
	line-height: 20px
	// margin: 0 0 20px
	margin: 0
	+rmin($tablet)
		font-size: 20px
		line-height: 25px
	+rmin($hd)
		font-size: 25px
		line-height: 35px

.slides-v__link
	display: inline-block

	font-size: 15px
	font-weight: 900
	line-height: 1
	padding: 0 0 6px
	border-bottom: 3px solid #fff
	color: #c43939
	transition: 0.25s
	opacity: 0
	transform: translate(0,180px)
	position: absolute
	left: 0
	bottom: 0
	+rmin($tablet)
		font-size: 20px
		// position: absolute
		// bottom: 43px
		// left: 57px
		
	+rmin($desktop)
		font-size: 25px
		// left: 81px
		// bottom: 80px
		
	




// Slides-portfolio


.slides-portfolio
	position: relative
	width: auto
	min-width: 100%
	transition: 0.25s
	margin: 0 0 58px
	background: #252525
	&:after
		content: ''
		display: block
		position: absolute
		top: 100%
		left: -20px
		right: -20px
		height: 38px
	.slick-list
		overflow: visible
		position: relative
	.slick-arrow
		display: block
		display: flex
		align-items: center
		justify-content: center
		width: auto
		height: 40px
		line-height: 1
		padding: 0
		background: none
		border-radius: 50%
		position: absolute
		top: 100%
		font-size: 12px
		cursor: pointer
		color: #fff
		transition: 0.25s
		margin: 4px 0 0
		z-index: 100
		transform: translate(0,-40px)
		opacity: 0
	
		&:hover
			color: #c43939
		+rmin($desktop)
			margin: 28px 0 0

	.slick-prev
		right: 30px
		
	.slick-next
		right: 0
		
	&:hover
		.slides-portfolio__image
			box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.75)
		.slides-portfolio__caption, .slick-arrow
			transform: translate(0,0)
			opacity: 1
	
	+rmin($tablet)
		margin: 0 0 90px
	+rmin($desktop)
		margin: 0 0 120px
		&:after
			height: 100px
		.slick-prev
			right: 60px


.slides-portfolio__item
	display: block
	position: relative



.slides-portfolio__image
	display: block
	position: relative
	width: 100%
	transition: 0.25s
	&:after
		content: ''
		display: table
		clear: both
		width: 100%
	&:before
		content: ''
		display: block
		padding: 66.67% 0 0
		float: left
	img
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover;

.slides-portfolio__caption
	display: block
	position: absolute
	top: 100%
	left: 0
	width: 100%
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	padding: 10px 80px 10px 20px
	font-size: 16px
	line-height: 25px
	font-weight: 400
	transition: 0.25s
	margin: 0
	transform: translate(0,-40px)
	opacity: 0

	+rmin($desktop)
		margin: 15px 0 0
		font-size: 18px
		line-height: 35px

