// Typography

h1
	font-size: 30px
	line-height: 1
	font-weight: 900
	margin: 0 0 16px
	+rmin($tablet)
		font-size: 50px
		margin: 0 0 24px

h2
	font-size: 25px
	line-height: 1
	font-weight: 900
	// text-transform: uppercase
	margin: 0 0 20px


p
	margin: 0 0 20px

img
	max-width: 100%


