.ico-categories-1 {
  width: 2.26em;
  height: 1em;
  fill: initial;
}
.ico-categories-10 {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.ico-categories-2 {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.ico-categories-3 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.ico-categories-4 {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.ico-categories-5 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-categories-6 {
  width: 2.09em;
  height: 1em;
  fill: initial;
}
.ico-categories-7 {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.ico-categories-8 {
  width: 2.23em;
  height: 1em;
  fill: initial;
}
.ico-categories-9 {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.ico-categories {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-filter {
  width: 0.83em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 3.33em;
  height: 1em;
  fill: none;
}
.ico-next {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-prev {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: none;
}
