.ico-catalog-1 {
  width: 2.26em;
  height: 1em;
  fill: initial;
}
.ico-catalog-10 {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.ico-catalog-2 {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.ico-catalog-3 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.ico-catalog-4 {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.ico-catalog-5 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-catalog-6 {
  width: 2.09em;
  height: 1em;
  fill: initial;
}
.ico-catalog-7 {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.ico-catalog-8 {
  width: 2.23em;
  height: 1em;
  fill: initial;
}
.ico-catalog-9 {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 3.33em;
  height: 1em;
  fill: none;
}
.ico-next {
  width: 1.75em;
  height: 1em;
  fill: none;
}
.ico-prev {
  width: 1.62em;
  height: 1em;
  fill: none;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: none;
}
